:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#othello-board {
  background-color: black;
  border-spacing: 2px; /* これにより、セルの間に1pxの間隔（黒い背景）が生じます */
}
td {
  width: 40px;
  height: 40px;
  background-color: #008000;
  position: relative;
}

td.black::after, td.white::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

td.black::after {
  background-color: black;
}

td.white::after {
  background-color: white;
}